// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright (C) SpaceY 2024 - All Rights Reserved
 * Author: Sangwan Jeon <commits@swjeon.kr>
 */

/dts-v1/;

#include "stm32mp135d-altair-mx-base.dts"

/ {
	model = "Altair::Main Processor Unit of Avionics - UMi";
	compatible = "st,stm32mp135d-altair-mx", "st,stm32mp135";

	aliases {
		serial0 = &uart4;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

        memory@c0000000 {
                device_type = "memory";
                reg = <0xc0000000 0x20000000>;
        };

};
